version: '2'

services:
  app:
    build: app/.
    ports:
      - "8081:8081"
    links:
      - db
    depends_on:
      - db

  db:
    environment:
    - DS_LICENSE=accept
    build: db/.
    ports:
      - "9042:9042"
   
